<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Movebot</title>
</head>
<body>
<img class="chatbotImage" src="/static/chatbot.png" alt="ChatBot"/>
<span id="chatbotOutput" class="chatbotOutput">Posez moi un question.</span>
<span id="audioSpan" class="audioSpan">
</span>
<input id="chatbotInput" class="chatbotInput" type="text"/>
<input id="submitButton" class="submitButton" type="submit"/>
<script src='/static/app.js'></script>
</body>
</html>